/*Colores
Primario
Normal:#0d46a0
light: #5471d2
Dark: #002071

Secondary
Normal:#66bb6a
light: #98ee99
Dark: #338a3e

*/


html {
    box-sizing: border-box;
  }
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }
  body{
    font-family: 'Lora', serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
background-color: #002071;
  }
  /*Estilos logo */
  .logo{
    background-color: azure;

    width: 35%;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    border-style:inset;
    border-radius: 0.3rem;
    border-width: 5px ;
    margin-left: 2em;
  }
  .img-logo{
    width: 400px;
     
  }
  .img-logo2{
    width: 100px;
      
  }
 
  /*Fin de estilos logo*/

    /*Estilos home */
  .home{
    background-color:#0d46a0;
    width: 100%;
    height: 500px;
    text-align: center;
    color: azure;
  }
  .title-home {
    width: 90%;
    max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1rem;
   background-color:#5471d2;
   text-align: center;
  
   
  }

  .img-home{
    width: 35%;
    padding: 0.6rem;
  }
  /*Fin de estilos home*/

  .btn{
    display: inline-block;
    background-color: #66bb6a;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.6rem;
    border-radius: 0.3rem;

  }



 footer{
  background-color: #66bb6a ;
  width: 100%;
  height: 50px;
  color: azure;
  margin-top: 5em;

 }